:root {
  --light-blue-color: #ADD8E6;
  --light-sky-blue-color: #87CEFA;
  --steel-blue-color: #4682B4;
}

.body {
  box-sizing: border-box;
  background-color: var(--light-blue-color);
}

.container {
  margin: 10px auto;
  width: 1024px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  box-shadow: 20px 20px 40px -20px black;
}


.columns {
  display: flex;
  justify-content: center;
  padding: 0 calc (50% - 590px);
}

.info-column {
  width: 38%;
  background-color: var(--light-blue-color);
  border-right: 50px black;
}

.info-column header {
  padding: 20px;
  text-align: center;
  background-color: var(--steel-blue-color);
}

.info-column main {
  text-align: center;
  background-color: var(--light-blue-color);
}

.main-column {
  width: 60%;
  padding: 30px;
  text-align: center;
  background-color: var(--light-blue-color);
}

.footer {
  padding: auto;
  background-color: black;
}

.photo {
  border-radius: 50%;
  border: 5px solid black;
}

.info-column header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
}

.info-column header h2 {
  margin-bottom: 10px;
}

.info-column header h3 {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.info-column main h4 {
  margin: 20px auto; 
  padding: 10px 20px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--steel-blue-color);
}

.info-column main ul {
  text-align: left;
  margin-left: 40px;
}

.info-column main :not(.contacts) ul {
  list-style-type: disc;
  margin-left: 70px;
}

.main li {
  vertical-align: middle;
  text-align: left;
}

.info-column main p {
  display: inline;
}

.info-column main li img {
  vertical-align: middle;
  margin-right: 15px;
}

.main-column .main-header {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
}

.main-column .about-myself .main-header {
  margin-top: 0;
}

.main-column h5 {
  flex: 1;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid black;
}

.main-column p {
  text-align: justify;
  line-height: 1.2;
}


.education p strong {
  font-weight: 700;
}

.about-myself p {
  text-indent: 20px;
}

.courses ul {
  list-style-type: disc;
  text-align: justify;
  margin-left: 30px;
}

.main-column pre {
  margin-top: 20px;
  padding-left: 30px;
  font-family: monospace;
  font-size: 1rem;
  background-color: #f5f5f5;
}

.container footer {
  align-items: center;
  background-color: black;
}
